
CNN_Test/.vs/CNN_Test/v15/.suo
CNN_Test/.vs/CNN_Test/v15/.suo
CNN_Test/.vs/CNN_Test/v15/Server/sqlite3/storage.ide
CNN_Test/.vs/CNN_Test/v15/Server/sqlite3/storage.ide-shm
CNN_Test/CNN_Test/obj/Debug/CNN_Test.csproj.CoreCompileInputs.cache
CNN_Test/CNN_Test/obj/Debug/CNN_Test.csprojResolveAssemblyReference.cache
CNN_Test/CNN_Test_Console/bin/Debug/CNN_Test_Console.exe
CNN_Test/CNN_Test_Console/bin/Debug/CNN_Test_Console.pdb
CNN_Test/CNN_Test_Console/obj/Debug/CNN_Test_Console.csproj.CoreCompileInputs.cache
CNN_Test/CNN_Test_Console/obj/Debug/CNN_Test_Console.csprojResolveAssemblyReference.cache
CNN_Test/CNN_Test_Console/obj/Debug/CNN_Test_Console.exe
CNN_Test/CNN_Test_Console/obj/Debug/CNN_Test_Console.pdb
